{% extends 'root/base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="container mt-5">
    <h1 class="sign-in-header-mobile f-title mb-4">Please Sign in</h1>
    <div class="row justify-content-center">
      <div class="col col-lg-4">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form  %}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-5" name="button">Sign In</button>
          {% endbuttons %}
        </form>
        <span class="linebreak">Or</span>
        <a type="button" class="btn btn-outline-dark btn-lg btn-block mt-5" href="{% url 'signup' %}">Create Account</a>
      </div>

    </div>

  </div>
{% endblock %}
